.userInfo-cont {
  border-width: 5px;
  border: 2px solid #f8fafc;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
  height: 100px;
  border-radius: 5px;
}

.logo-cont {
  width: 50px; /* Width of the circle */
  height: 50px; /* Height of the circle */
  background-color: #2196f3; /* Background color of the circle */
  color: #fff; /* Text color */
  border-radius: 50%; /* Make the element a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Font size of the letter */
  font-weight: bold;
}

.delete-logo {
  height: 25px;
}

.user-cont {
  font-family: Roboto;
  font-weight: bold;
  color: #fff;
  margin-left: 15px;
  margin-right: 5px;
}

.delete-button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
