.bg-cont {
  background: linear-gradient(to bottom, #9ba9eb, #c3caea);
  padding: 20px;
  padding-left: 100px;
}

.password-logo {
  height: 100px;
  margin-bottom: 20px;
}

.Passwdmanager-cont {
  margin-top: 20px;
  background-color: #5763a5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
}

.addPass-cont {
  background-color: #454f84;
  padding: 30px;
  border-radius: 8px;
}

.addPass-cont2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.addPass-heading {
  color: #ffffff;
  font-family: Roboto;
  font-weight: bold;
}

.password-img {
  height: 400px;
}

.logo {
  height: 38px;
  background-color: #f8fafc;
}

.input {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.website {
  height: 40px;
  width: 300px;
}

.add-btn {
  background-color: #0b69ff;
  font-family: Roboto;
  font-weight: bold;
  color: #fff;
  height: 25px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
}

.styled-hr {
  border: none;
  border-top: 2px solid #000;
  width: 80%;
  margin: 20px auto;
}

.Passwdmanager-cont3 {
  margin-top: 20px;
  background-color: #5763a5;
  padding: 30px;
}

.Passwdmanager-cont2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.styled-hr {
  border-top: 2px solid #fff;
  width: 100%;
  margin: 20px auto;
}
.checkBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.checkbox {
  height: 20px;
  width: 20px;
}

.pass {
  font-family: Roboto;
  font-weight: bold;
  color: #fff;
}

.user-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.noPass {
  height: 400px;
}

.noPass-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
